@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width:7px;
    height: 7px;
  }

*::-webkit-scrollbar-track {
    background: #25262F;
}

*::-webkit-scrollbar-thumb {
    background: #F6E3B9;
    border-radius: 100vh;
}

*::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}